{% macro cardproyect(title, subtitle, badge, technologies,image) %} {# backgroun
bg-[#0a0f2b] #}
<div
  class="bg-black border border-[#d4af3720] rounded-xl overflow-hidden hover:shadow-[0_0_30px_rgba(212,175,55,0.15)] transition-all group"
>
  {# backgroun bg-[#121a36] #}
  <div class="h-48 bg-black relative overflow-hidden">
    <div
      class="absolute inset-0 bg-cover bg-center group-hover:scale-105 transition-transform"
      style="background-image: url('{{ image }}');"
    ></div>
    <div
      class="absolute bottom-0 left-0 right-0 bg-gradient-to-t from-black to-transparent h-20"
    ></div>
    <span
      class="absolute top-4 right-4 bg-antique-gold text-[#0a0f2b] px-3 py-1 rounded-full text-sm font-bold"
      >{{ badge }}</span
    >
  </div>
  <div class="p-6">
    <h3 class="text-2xl font-cinzel text-white mb-2">{{ title }}</h3>
    <p class="text-gray-300 mb-4">
      {{ subtitle }}
    </p>
    <ul class="flex flex-wrap gap-2 mb-4">
      {% for item in technologies %}

      <li
        class="bg-[#d4af3715] text-antique-gold px-3 py-1 rounded-full text-xs"
      >
        {{ item }}
      </li>
      {% endfor %}
    </ul>
    {% if false %}
    <a
      href="#"
      class="inline-flex items-center text-antique-gold group-hover:underline"
    >
      Ver relato completo
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-4 w-4 ml-1"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5l7 7-7 7"
        />
      </svg>
    </a>
    {% endif %}
  </div>
</div>

{% endmacro %}
